<h2>User info</h2>
<%= form_with model:@user do |f| %>
    <h4>Name</h4>
    <%= f.text_field :name, autocomplete: "name" %>
<% end %>
<%= form_with model: @user,url: update_user_path(@user.id), method: :patch do |f| %>
    <h4>introduction</h4>
    <%= f.text_field :introduction %>
<% end %>



