
<%= form_with model: book, url: books_path, method: :post do |f| %>
<form action>
    <div class="form-title">
       <label for="book_title">Title</label><br>
       <%= f.text_field :title, class: "col-xs-12" %>
    </div>

    <div class="form-body">
       <label for="book_body">Opinion</label><br>
       <%= f.text_area :body, class: "col-xs-12" %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-primary col-xs-12" %>
    </div>
</form>
<% end %>


